@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bree+Serif&family=Press+Start+2P&display=swap');

body {
    background-color: rgb(18, 18, 18);
    display: flex;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assurez-vous que le corps prend toute la hauteur de la fenêtre */
    margin: 0; /* Supprimez les marges par défaut */
}

#cadre {
    width: 80%; /* Ajustez la largeur selon vos besoins */
    height: 80%; /* Ajustez la hauteur selon vos besoins */
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url('../AssetsHomePage/backgroudHomePage.jpg'); /* Remplacez par le chemin de votre image */
    background-size: cover; /* Ajuste l'image pour couvrir tout le cadre */
    background-position: center; /* Centre l'image dans le cadre */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

#btnVersPortfolio {
    width: 150px;
    margin-top: 160px;
    z-index: 1;
}

#btnVersPortfolio:hover {
    transform: scale(1.1);
}

#copy {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 70px;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff;
    z-index: 1;
}

#start {
    color: white;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
    margin-top: 10px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}



