@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bree+Serif&family=Press+Start+2P&display=swap');

body {
    background-color: rgb(18, 18, 18);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#cadre {
    width: 80%;
    max-width: 1200px; /* Limite la largeur maximale */
    height: 80%;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('../../AssetsHomePage/3background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#choix {
    padding-top: 55px;
    font-size: large;
}

#TP1,
#TP1_JS,
#TP2,
#TP3,
#TP4,
#TP5,
#TP6,
#TP7 {
    color: white;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#TP1:hover,
#TP1_JS:hover,
#TP2:hover,
#TP3:hover,
#TP4:hover,
#TP5:hover,
#TP6:hover,
#TP7:hover {
    transform: scale(1.1);
    color: black;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}

#btnRetour {
    position: absolute;
    width: 135px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

#btnRetour:hover {
    transform: scale(1.1) translateX(-50%);
}

/* Media Queries */
@media (max-width: 768px) {
    #cadre {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    #choix {
        padding-top: 30px;
        font-size: medium;
    }

    #btnRetour {
        width: 100px;
        bottom: 20px;
    }
}

@media (max-width: 480px) {
    #cadre {
        width: 95%;
        height: auto;
        padding: 15px;
    }

    #choix {
        padding-top: 20px;
        font-size: small;
    }

    #btnRetour {
        width: 80px;
        bottom: 20px;
    }
}