@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bree+Serif&family=Press+Start+2P&display=swap');

body {
    background-color: rgb(18, 18, 18);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px; /* Ajoutez un padding pour éviter que le contenu touche les bords de l'écran */
    box-sizing: border-box;
}

#cadre {
    width: 100%;
    max-width: 1200px; /* Limitez la largeur maximale pour les grands écrans */
    height: auto;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-image: url('../../AssetsHomePage/4background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

#choix {
    padding-top: 55px;
    font-size: 1.2rem; /* Utilisez des unités relatives pour la taille de la police */
}

#Mission1,
#Mission2,
#Mission3,
#Mission4,
#Mission5,
#Mission8,
#Mission9,
#Mission10 {
    color: white;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#Mission1:hover,
#Mission2:hover,
#Mission3:hover,
#Mission4:hover,
#Mission5:hover,
#Mission8:hover,
#Mission9:hover,
#Mission10:hover {
    transform: scale(1.1);
    color: black;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}

#btnRetour {
    position: absolute;
    width: 135px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

#btnRetour:hover {
    transform: scale(1.1) translateX(-50%);
}

/* Media Queries pour les petits écrans */
@media (max-width: 768px) {
    #choix {
        font-size: 1rem;
    }

    #btnRetour {
        width: 100px;
    }
}