@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bree+Serif&family=Press+Start+2P&display=swap');

body {
    background-color: rgb(18, 18, 18);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes the full height of the window */
    margin: 0; /* Remove default margins */
}

#cadre {
    width: 80%; /* Adjust width as needed */
    height: 80%; /* Adjust height as needed */
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('../../AssetsHomePage/2eBackground.jpg'); /* Replace with your image path */
    background-size: cover; /* Adjust the image to cover the entire frame */
    background-position: center; /* Center the image in the frame */
    background-repeat: no-repeat; /* Prevent image repetition */
}

#choix {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#TP,
#Mission,
#ProjBdd,
#Contact {
    color: white;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#TP:hover,
#Mission:hover,
#ProjBdd:hover,
#Contact:hover {
    transform: scale(1.1);
    color: black;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}

#btnRetour {
    position: absolute;
    width: 135px;
    bottom: 10px;
    left: 45%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#btnRetour:hover {
    transform: scale(1.1);
}

#linkdin {
    position: absolute;
    bottom: 10px;
    left: 39%; /* Adjust this value to position the logo as needed */
    width: 30px; /* Adjust the size of the logo as needed */
    height: auto;
}

#linkdin:hover {
    transform: scale(1.1);
}

#CV {
    position: absolute;
    bottom: 10px;
    left: 34%; /* Adjust this value to position the logo as needed */
    width: 30px; /* Adjust the size of the logo as needed */
    height: auto;
}

#CV:hover {
    transform: scale(1.1);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #cadre {
        width: 90%;
        height: 90%;
    }

    #choix {
        margin-top: 5%;
    }

    #btnRetour {
        width: 120px;
        left: 40%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    #cadre {
        width: 95%;
        height: 95%;
    }

    #btnRetour {
        width: 100px;
        left: 35%;
    }
}